.mainTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.filtersContainer{
    border: 2px solid rgb(223, 223, 223);
    width: 1420px;
    margin-left: 0.5rem;
display: flex;
flex-direction: column;
margin-bottom: 2rem;

    
}
.filters{


}

.buttonsContainer{
  padding: 1rem;
}

.buttonsContainer>.closeBtn{
margin-left: 78vw;
margin-right: 1vw;
}


.settingsContainer{
  /* border: 2px solid black; */
}
.settingsContainer>button{
margin-left: 90vw;
}
.tableHead {
    background-color: #f2f2f2;
    border: 1px solid black;
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tableColumn{
    border: 1px solid black;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.column{
    border: 1px solid black;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}